filter(args)
  -webkit-filter  args
  -moz-filter     args
  -ms-filter      args
  -o-filter       args
  filter          args

body.modal-open
  overflow    hidden  // prevent scrolling

  .root
    filter    blur(4px)

.modal
  background rgba(0, 0, 0, 0.5)
  display    none
  height     100%
  left       0
  position   fixed
  top        0
  width      100%

.modal:target
  align-items     center
  display         flex
  justify-content center

.modal-dialog
  background      white
  border-radius   5vmin
  color           black
  display         flex
  flex-direction  column
  font-size       5vmin
  max-height      75%
  overflow        auto
  width           75%

.modal-head
  border-bottom   1px solid
  font-weight     bold
  padding         1vmin
  text-align      center

.modal-body
  overflow        auto
  padding         0 5vmin

.modal-foot a
  background      #3f3
  display         block
  font-weight     bold
  padding         1vmin
  text-align      center
  text-decoration none
  width           100%
