doctype html
html
  head
    block head
      title me2christ.com - REPENT, FOR THE KINGDOM OF HEAVEN IS AT HAND!
      meta(charset='UTF-8')
      meta(name='version' content=version)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      script: include noscript.js
      if process.env.M2C_LIVE_RELOAD
        script: include livereload.js
  body.noscript
    block body
    block foot
