doctype html
html
  head
    block head
      title me2christ.com - REPENT, FOR THE KINGDOM OF HEAVEN IS AT HAND!
      meta(charset='UTF-8')
      meta(name='version' content=version)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      style: include:stylus reset.styl
      style: include:stylus noscript.styl
      style: include:stylus base.styl
      script: include:livescript noscript.ls
      if process.env.M2C_LIVE_RELOAD
        script: include livereload.js
  body.noscript
    .root
      .section.judgement.intro
        block intro
      .section.main
        block main
      .section.judgement.outro
        block outro
    block foot
