doctype html
include noscript.pug
html(lang='en')
  head
    block head
      title me2christ.com - REPENT, FOR THE KINGDOM OF HEAVEN IS AT HAND!
      meta(charset='UTF-8')
      meta(name='description' content='The Gospel of our Lord Jesus Christ')
      meta(name='version' content=version)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      if process.env.M2C_LIVE_RELOAD
        script: include livereload.js
      style: include:scss base.scss
  body.noscript
    block body
    block foot
