body
  font-size  1.5em
  text-align justify

a
  color cyan

p
  padding-bottom 1em

.intro
  h1
    padding-top 0

h1
  font-size 2em

h2
  font-size 1.5em

h1
h2
  text-align center
  padding-bottom 0.5em
