section(col1, col2)
  summary
    background-image  linear-gradient(col1, col2)
    color             white
    a
      color           white
  .verse
    border-color      col2

.main
  summary
    border-radius 2vmin
    font-size     7vmin
    margin-top    5vmin
    padding       1vmin

  .baptism
    section(cyan, blue)

  .receive
    section(orange, red)

  .repent
    section(#ccc, #333)

  .verse
    background    rgba(224, 224, 224, 0.5)
    border-left   solid 1vmin
    font-family   serif
    margin-top    4vmin

    p
      font-style    italic
      margin        0
      padding       2vmin
    .ref
      font-size     4vmin
      padding       0 2vmin 2vmin 0
      text-align    right
