mixin modal(id)
  .modal(id=id)
    .modal-dialog
      .modal-head= id
      .modal-body
        block
      a(href='#!').modal-foot Got it!

doctype html
html
  head
    block head
      title me2christ.com - The kingdom of God is real!
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='app.css')
      script(src='app.js')
  body
    .light
      img(src='asset/light.png')
    .root
      .intro
        block intro
      .main
        block main
      .outro
        block outro
    +modal('sin')
      :markdown-it
        Sin is when we ignore God, break his laws, and go our own way in life.

        Sin destroys relationships with friends, family, and with God.

        The bible says sin ultimately brings death.
