mixin modal(id)
  .modal(id=id, onclick='window.history.back()')
    .modal-dialog
      .modal-head= id
      .modal-body
        block
      a(href='#!').modal-foot Close

doctype html
html
  head
    block head
      title me2christ.com - Repent, for the kingdom of God is here!
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='app.css')
      script(src='app.js')
  body.noscript
    .root
      .intro
        block intro
      .main
        block main
      .outro
        block outro
    block foot
