include lib/_modal

doctype html
html
  head
    block head
      title me2christ.com - LOVE and FREEWILL
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      style: include:stylus _base.styl
      script: include:livescript _base.ls
      script: include:livescript lib/_modal.ls
  body.noscript
    .root
      .intro
        block intro
      .main
        block main
      .outro
        block outro
    block foot
