include lib/_modal

doctype html
html
  head
    block head
      title me2christ.com - Healing, Deliverance, Freedom, Eternal Life!
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      style: include:stylus _base.styl
      script: include:livescript _base.ls
      script: include:livescript lib/_modal.ls
  body.noscript
    .root
      .intro
        block intro
      .main
        block main
      .outro
        block outro
    block foot
      +modal('Jesus')
        :markdown-it
          Jesus Christ is the Son of God, who died on a cross to take our sins away.

          He was buried, then he resurrected and ascended into eternal life in heaven.

          To follow Jesus is the only way to eternal life.
