path(length)
  path
    opacity           0
    stroke            white
    stroke-dasharray  length
    stroke-dashoffset length

svg
  margin    10vmin auto
  width     100%

  @keyframes draw
    to
      stroke-dashoffset  0

.flatline
  path(780)

  &.visible
    path
      animation draw 2s linear, fade 2s linear
      animation-iteration-count 6

  @keyframes fade
    0%
       opacity 1
    25%
       opacity 1
    100%
       opacity 0

.lifeline
  path(537)
  path
    opacity       1
    stroke-width  2px

  &.visible
    path
      animation draw 2s linear, fade2 2s linear
      animation-iteration-count infinite

  @keyframes fade2
    75%
       opacity 1
    100%
       opacity 0
