*
  box-sizing  border-box

body
  background  black
  color       white
  font-size   5vmin
  margin      0

.main
  color       black

.intro
.main
.outro
  margin      0 auto
  width       75%

.light
  margin      0
  position    fixed
  top         0
  height      100%
  width       100%
  transform   scale(0, 0)
  z-index     -1

  display         flex
  justify-content center
  align-items     center

.verse
  color         white
  font-size     10vmin
  padding       5vmin
  text-align    center

  .red
    color       red

  .ref
    color       #aaa
    font-size   5vmin
    margin-top  5vmin
    text-align  right
