doctype html
html
  head
    title me2christ.com - The kingdom of God is near
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='app.css')
    script(src='/lib-3p/scrollama.min.js')
    script(src='app.js')
  body
    .light
      img(src='asset/light.png')

    .intro
      .verse Jesus answered
        .red Most assuredly, I say to you, unless one is born of water and the 
           | spirit, he cannot enter the kingdom of God
        .ref John 3:5
    .main
      p Come, step out of the darkness and into the light
        | , for the kingdom of God is truly real and many are entering in today...
      p m2c
      p m2c
      p m2c
      p m2c
      p m2c
      p Feel free to call or text me, Andrew, on 07305 729930.
      p m2c
      p Jesus Christ is knocking on the door of your heart
        | , but will you open it and let him in ?
    .outro
      .verse And as it is appointed unto men once to die
        | , but after this the judgement
        .ref Hebrews 9:27
