extends _base

append head
  style: include:stylus _index.styl
  script: include:livescript _index.ls

block intro
  .verse Jesus answered
    .red.
      Most assuredly, I say to you, unless one is born of water and the
      spirit, he cannot enter the kingdom of God
    .ref John 3:5

block main
  p.
    Come, step out of the darkness and into the light, for the kingdom of
    God is here and many are entering in today...
  iframe(src='https://www.youtube.com/embed/zka4DUYeJ5g')

  -:markdown-it
    [Jesus](#Jesus) came to put **Christ in you** so you can
    live a holy life and be with God forever!

  p To begin this amazing journey you need to...

  include gospel/_repent
  include gospel/_baptism
  include gospel/_receive

  p Grace, peace and love to you from our Lord Jesus Christ,
  p Andrew.

  .mobile
    :markdown-it(inline) Mobile/whatsapp [07305 729930](tel:07305-729930)
  .email
    :markdown-it(inline) Email [andrew@me2christ.com](mailto:andrew@me2christ.com)

block outro
  .verse And as it is appointed unto men once to die, but after this the judgement
    .ref Hebrews 9:27

block foot
  +modal('Jesus')
    :markdown-it
      Jesus is the Son of God, who died on a cross to take our sins away.

      He was buried, then he resurrected and ascended into eternal life in heaven.

      To follow Jesus is the only way to eternal life.

  +modal('sin')
    :markdown-it
      Sadly we've become separated from God's love
      by something the bible calls sin.

      Sin is when we think, say or do wrong things, ignore God
      and break his divine laws.

      Sin hurts ourselves and those around us, and ultimately brings death.

  .light
    img(src='asset/light.png')
