@import _gospel

body
  background  black
  color       white

iframe
  width 100%
  top 5px
  margin-bottom -5px
  height calc(100vw * 215/560)

.verse
  color         white
  text-align    center
  font-family   serif
  font-size     10vmin

  .red
    color       red

  .ref
    color       #aaa
    font-size   5vmin
    margin-top  5vmin
    text-align  right
