@import 'gospel/_base'

body
  background  black
  color       white

iframe
  width 100%
  top 5px
  margin-bottom -5px
  height calc(100vw * 215/560)

.light
  margin      0
  position    fixed
  top         0
  height      100%
  width       100%
  transform   scale(0, 0)
  z-index     -1

  display         flex
  justify-content center
  align-items     center

.intro
  margin-bottom 5vmin

.outro
  margin-top    20vmin

.intro
.outro
  padding         0 2vmin

  .verse
    color         white
    text-align    center
    font-family   serif
    font-size     10vmin

    .ref
      color       #aaa
      font-size   5vmin
      margin-top  5vmin
      text-align  right

.red
  color         red
