@import 'gospel/_gospel'

body
  background  black
  color       white

iframe
  width 100%
  top 5px
  margin-bottom -5px
  height calc(100vw * 215/560)

.outro
  margin-top   20vmin

.red
  color       red

.intro
.outro
  .verse
    color         white
    text-align    center
    font-family   serif
    font-size     10vmin

    .ref
      color       #aaa
      font-size   5vmin
      margin-top  5vmin
      text-align  right
