extends _base

append head
  link(rel='stylesheet' href='index.css')
  script(src='/lib-3p/scrollama.min.js')

block intro
  .verse Jesus answered
    .red.
      Most assuredly, I say to you, unless one is born of water and the
      spirit, he cannot enter the kingdom of God
    .ref John 3:5

block main
  p.
    Come, step out of the darkness and into the light, for the kingdom of
    God is real and many are entering in today...
  iframe(src='https://www.youtube.com/embed/zka4DUYeJ5g')

  :markdown-it
    Jesus came to set you free from [sin](#sin) and reproduce himself
    **in you**, so that you might become what he is!

    To begin this amazing journey, the bible says you must...

  include gospel/_repent
  include gospel/_baptism
  include gospel/_receive

  :markdown-it
    Please call, whatsapp or text me on [07305 729930](tel:07305-729930)
    or email me at [andrew@me2christ.com](mailto:andrew@me2christ.com).

    Grace and peace to you from our Lord Jesus Christ.

block outro
  .verse And as it is appointed unto men once to die, but after this the judgement
    .ref Hebrews 9:27
