include ../lib/scripture.pug

+verse('Gal. 5:19-21 NKJV')
  p Now the works of the flesh are evident, which are: **adultery, fornication, uncleanness, lewdness, idolatry, sorcery, hatred, contentions, jealousies, outbursts of wrath, selfish ambitions, dissensions, heresies, envy, murders, drunkenness, revelries, and the like**; of which I tell you beforehand, just as I also told you in time past, that those who practice such things will **not** inherit the kingdom of God.

+verse('Eph. 5:5')
  p For this you know, that no fornicator, unclean person, nor covetous man, who is an idolater, has any inheritance in the kingdom of Christ and God.

+verse('Mark 9:47-48')
  p And if your eye causes you to sin, pluck it out. It is better for you to enter the kingdom of God with one eye, rather than having two eyes, to be cast into hell fire &ndash; where
  blockquote "Their worm does not die And the fire is not quenched."

+verse('Luke 12:4-5')
  p "And I say to you, My friends, do not be afraid of those who kill the body, and after that have no more that they can do. But I will show you whom you should fear: Fear Him who, after He has killed, has power to cast into hell; yes, I say to you, fear Him!"
