+expandable('Get baptised in water')
  :markdown-it
    Bury your old life and wash away your past sins, and
    start living a new holy life for Jesus.

  +bible
    .verse
      :markdown-it
        Therefore if anyone is in Christ he is a new creation;
        old things have passed away; behold, all things have become new.
      .ref 2 Corinthians 5:7
