details.baptism
  summary Be baptised in water

  p.
    Bury your old life, and rise from the water
    cleansed and ready to follow Jesus!

  .verse
    p.
      And now why are you waiting? Arise and be baptised,
      and wash away your sins, calling on the name of the Lord.
    .ref Acts 22:16

  .verse
    p Then Peter said to them, 
      q.
        Repent, and let every one of you be baptised
        in the name of Jesus Christ for the remission of sins;
        and you shall receive the gift of the Holy Spirit.
    .ref Acts 2:38
