+expandable('Believe in Jesus')
  :markdown-it
    Jesus came to set you free from [sin](#sin)
    so you can live a holy life and be with God forever.

    In the greatest act of love, Jesus willingly sacrificed himself for you,
    taking the penalty for your [sin](#sin)

  +bible
    .verse
      :markdown-it
        For I delivered to you first of all that which I also received:
        that Christ died for our sins according to the scriptures,
        and that he was buried and that he rose again the third day
        according to the scriptures.
      .ref 1 Corinthians 15:3-4

    .verse
      :markdown-it
        For God so loved the world that he gave his only begotten son
        that whoever believes in him should not perish but have eternal life.
      .ref John 3:16

    .verse.hid
      :markdown-it
        For he made him who knew no sin to be sin for us,
        that we might become the righteousness of God in him.
      .ref 2 Corinthians 5:21
