section(bg)
  summary
    background    bg
    color         white
    a
      color       white
  .verse
    border-color  bg

.main
  summary
    border-radius 2vmin
    font-size     7vmin
    padding       1vmin
    margin-top    5vmin

  .baptism
    section(blue)

  .receive
    section(red)

  .repent
    section(#666)

  .verse
    background    rgba(224, 224, 224, 0.5)
    border-left   solid 1vmin
    font-family   serif
    margin-top    4vmin

    p
      font-style    italic
      padding       2vmin
      margin        0
    .ref
      font-size     4vmin
      padding       0 2vmin 2vmin 0
      text-align    right
