.main
  & > details
    & > summary
      background  #0f0
      font-size   7vmin
      margin-top  5vmin

  .verse
    background    #ff7
    font-family   serif
    margin-top    4vmin

    p
      font-style    italic
      padding       2vmin
      margin        0
    .ref
      font-size     4vmin
      padding       0 2vmin 2vmin 0
      text-align    right
