details.receive
  summary Receive Holy Spirit

  :markdown-it
    Let the Holy Spirit come and dwell inside you,
    and start manifesting the kingdom of heaven all around you!

    I testify the Holy Spirit is **ALIVE** and **REAL** and truly amazing,
    having witnessed hundreds of miracles of divine healing and deliverance!

  .verse
    p.red.
      He that believeth on me, as the scripture hath said,
      out of his belly shall flow rivers of living water.
    .ref John 7:37-38

  .verse
    p.
      And when Paul had laid hands on them, the Holy Spirit came upon them,
      and they spoke with tongues and prophesied.
    .ref Acts 19:6

  //-.verse
    p.
      I indeed baptize you with water unto repentance,
      but He who is coming after me is mightier than I,
      whose sandals I am not worthy to carry.
      He will baptize you with the Holy Spirit and fire.
    .ref Matthew 3:7

  //-.verse
    :markdown-it
      To them God willed to make known what are the riches
      of the glory of this mystery among the Gentiles:
      which is **Christ in you**, the hope of glory.
    .ref Colossians 1:27
