details
  summary
    :markdown-it(inline) Repent of your [sin](#sin)
  :markdown-it
    To repent means to recognise your sin, accept God's forgiveness,
    then turn away from doing and thinking those things.

  +bible
    .verse
      :markdown-it
        For all have sinned, and come short of the glory of God
      .ref Romans 3:23

    .verse
      :markdown-it
        For the wages of sin is death, but the gift of God is eternal life
        through Jesus Christ our Lord.
      .ref Romans 6:23

    .verse
      :markdown-it
        If we confess our sins, he is faithful and just to forgive us our sins,
        and to cleanse us from all unrighteousness.
      .ref 1 John 1:9
