details
  summary
    :markdown-it(inline) Repent of your [sin](#sin)
  :markdown-it
    To repent means to recognise your sin, accept God's forgiveness,
    then turn away from doing and thinking those things.

  +expandable('Bible verses')
    :markdown-it
      > *For all have sinned, and come short of the glory of God*
      (Romans 3:23)
