details
  summary
    :markdown-it(inline) Repent of your [sin](#sin)
  p.
    Humble yourself to recognise your own sins,
    accept God's forgiveness, then turn away from doing such things.

  .verse
    p.
      From that time Jesus began to preach and to say,
      Repent: for the kingdom of heaven is at hand.
    .ref Matthew 4:17

    //-.verse
      p.
        If we confess our sins, he is faithful and just to forgive us our sins,
        and to cleanse us from all unrighteousness.
      .ref 1 John 1:9

    //-.verse.hid
      p For all have sinned, and come short of the glory of God
      .ref Romans 3:23

    //-.verse
      p.
        For the wages of sin is death, but the gift of God is eternal life
        through Jesus Christ our Lord.
      .ref Romans 6:23
