include lib/_modal.pug

doctype html
html
  head
    block head
      title me2christ.com - Healing, Deliverance, Freedom, Eternal Life!
      meta(charset='UTF-8')
      meta(name='version' content=version)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      style: include:stylus _base.styl
      script: include:livescript _base.ls
      script: include:livescript lib/_modal.ls
      if process.env.M2C_LIVE_RELOAD
        script: include lib/_livereload.js
  body.noscript
    .root
      .intro
        block intro
      .main
        block main
      .outro
        block outro
    block foot
