body
  background  #000
  color       #fff

.jesus
  color       #f00
.jesus:after
  content     '\201d'
.jesus:before
  content     '\201c'

iframe
  height        calc(100vw * 215/560)
  margin-bottom -5px
  top           5px
  width         100%

.section
  padding 4vmin

.main
  // background  #fff
  color       #000

  blockquote
    background: #ddd;
    border-left: 10px solid #888;
    p
      color red

.outro
  margin-bottom 10vmin

.judgement
  // background  #000
  // color       #fff

  .judgement-verses
    em
      color #aaa
    em:before
      content: '\2014\00a0'  // long dash then non breaking space
    p
      color red

  .verse
    font-size     6vmin
    margin-bottom 10vmin
    text-align    left

  .ref
    color       #aaa
    font-size   4vmin
    margin-top  10vmin
    text-align  center
