body
  background  black
  color       white

.jesus
  color       red
.jesus:after
  content     '\201d'
.jesus:before
  content     '\201c'

.main
  margin-bottom 5vmin
  margin-top    5vmin
  padding       0

  .verse
    font-family   serif
    font-size     6vmin
    margin-bottom 10vmin
    text-align    left

  .ref
    color       #aaa
    font-size   4vmin
    margin-top  5vmin
    text-align  left
