@import 'gospel/_base'

body
  background  black
  color       white

iframe
  height        calc(100vw * 215/560)
  margin-bottom -5px
  top           5px
  width         100%

.jesus
  color       red

.light
  height      100%
  margin      0
  position    fixed
  top         0
  transform   scale(0, 0)
  width       100%
  z-index     -1

.light  // alignment
  align-items     center
  display         flex
  justify-content center

.intro
  margin-bottom 5vmin
  margin-top    10vmin

.outro
  margin-bottom 10vmin
  margin-top    20vmin

.intro
.outro
  padding       0 2vmin

  .verse
    color         white
    font-family   serif
    font-size     10vmin
    text-align    center

    .ref
      color       #aaa
      font-size   5vmin
      margin-top  5vmin
      text-align  right
