extends lib/_base.pug
include lib/_lightburst.pug

append head
  style: include:stylus _index.styl
  style: include:stylus lib/_lightburst.styl
  script: include:livescript lib/_lightburst.ls

block intro
  include:markdown-it judgement/intro.md
  .verses
    include:markdown-it judgement/intro-verses.md

block main
  include:markdown-it gospel.md

block outro
  include:markdown-it judgement/outro.md
  .verses
    include:markdown-it judgement/outro-verses.md
