extends _base.pug

append head
  style: include:stylus _index.styl

block main
  include:markdown-it gospel.md
  include:markdown-it judgement.md
  .judgement-verses
    include:markdown-it judgement-verses.md
