extends lib/base.pug
include lib/lightburst.pug
include lib/progressbar.pug

append head
  style: include:scss index.scss

block body
  section.intro.judgement
    include:markdown-it judgement/intro.md
    include judgement/intro-verses.pug
  section.main
    include:markdown-it gospel.md
  section.outro.judgement
    include:markdown-it judgement/outro.md
    include judgement/outro-verses.pug
