extends lib/base.pug
include lib/lightburst.pug
include lib/progressbar.pug
include lib/scripture.pug

append head
  style: include:scss index.scss

block body
  section.intro.judgement
    include judgement/intro.pug
  section.main
    include:markdown-it gospel.md
  section.outro.judgement
    include judgement/outro.pug
