extends _base.pug

append head
  style: include:stylus _index.styl

block main
  include:markdown-it gospel.md

  p Friends, God warns us judgement day is coming, therfore let us flee from the wrath to come.

  include _judgement.pug
