extends _base.pug

append head
  style: include:stylus _index.styl
  script: include:livescript _index.ls

block intro
  .verse Jesus answered
    .jesus.
      Most assuredly, I say to you, unless one is born of water and the
      Spirit, he cannot enter the kingdom of God
    .ref John 3:5

block main
  p.
    Come, step out of the darkness and into the light, for the kingdom of
    God is here and many are entering in today.

  -:markdown-it
    [Jesus](#Jesus) came to put **Christ in you** so you can
    [be healed](ministry.html), become holy and live with God forever,
    with no more death and suffering!

  p To begin this amazing journey you need to...

  include gospel/_repent.pug
  include gospel/_baptism.pug
  include gospel/_receive.pug

  p Please contact me, Andrew, to learn more.

  include _contact.pug

  p Grace, peace and love to you from our Lord Jesus Christ.

block outro
  .verse And as it is appointed unto men once to die, but after this the judgement
    .ref Hebrews 9:27

append foot
  +modal('sin')
    :markdown-it
      Sadly we've become separated from God's love
      by something the bible calls sin.

      Sin is when we think, say or do wrong things, ignore God
      and break his divine laws.

      Sin hurts ourselves and those around us, and ultimately brings death.

  .light
    img(src='asset/light.png')
