extends lib/base.pug
include lib/lightburst.pug
include lib/progressbar.pug

append head
  style: include:scss index.scss

block body
  section.judgement.intro
    include:markdown-it judgement/intro.md
    .verses
      include:markdown-it judgement/intro-verses.md
  section.main
    include:markdown-it gospel.md
  section.judgement.outro
    include:markdown-it judgement/outro.md
    .verses
      include:markdown-it judgement/outro-verses.md
