@import lib/base.sass
@import lib/lightburst.sass

body
  background: #000
  color:      #fff

.section
  padding: 4vmin

.main
  color: #000

  blockquote
    background: #ddd
    border-left: 10px solid #888
    p
      color: red

.outro
  margin-bottom: 10vmin

.judgement
  .verses
    em
      color: #aaa
    em:before
      content: '\2014\00a0'  // long dash then non breaking space
    p
      color: red
