extends lib/base.pug
include lib/lightburst.pug

append head
  link(rel='stylesheet' type='text/css' href='index.css')
  script: include:livescript lib/lightburst.ls

block intro
  include:markdown-it judgement/intro.md
  .verses
    include:markdown-it judgement/intro-verses.md

block main
  include:markdown-it gospel.md

block outro
  include:markdown-it judgement/outro.md
  .verses
    include:markdown-it judgement/outro-verses.md
