:markdown-it
  # REPENT, FOR THE KINGDOM OF HEAVEN IS AT HAND!

+verse('Gal. 5:19-21 NKJV')
  | Now the works of the flesh are evident, which are: #[b adultery, fornication, uncleanness, lewdness, idolatry, sorcery, hatred, contentions, jealousies, outbursts of wrath, selfish ambitions, dissensions, heresies, envy, murders, drunkenness, revelries], and #[b the like] which I tell you beforehand, just as I also told you in time past, that those who practice such things will #[u not] inherit the kingdom of God.

+verse('Eph. 5:5')
  | For this you know, that no #[b fornicator], #[b unclean person], nor #[b covetous] man, who is an #[b idolater], has any inheritance in the kingdom of Christ and God.

+verse('Mark 9:47-48')
  q.Jesus And if your eye causes you to #[b sin], pluck it out. It is better for you to enter the kingdom of God with one eye, rather than having two eyes, to be cast into #[strong hell fire] &ndash; where #[em "Their worm does not die And #[strong the fire] is not quenched."]

+verse('Luke 12:4-5')
  q.Jesus "And I say to you, My friends, do not be afraid of those who kill the body, and after that have no more that they can do. But I will show you whom you should fear: Fear Him who, after He has killed, has power to cast into #[strong hell]; yes, I say to you, fear Him!"
