extends _base.pug

block main
  -:markdown-it
    Based in Bradford, West Yorkshire, England UK, this healing and deliverance
    ministry operates in the power and love and authority of our Lord and Saviour
    [Jesus Christ](#Jesus), through whom can you be healed and set free from:

    * depression
    * anxiety
    * emotional pain
    * physical pain
    * sickness
    * addictions
    * soul ties
    * nightmares
    * suicide
    * curses
    * demonic attacks
    * evil spirits
    * ghosts
    * witchcraft
    * occultism
    * religious deceptions
    * alien abduction

    If you are suffering from any of the above, please contact me, Andrew,
    for prayer, freedom, healing and deliverance.

  include _contact.pug

  -:markdown-it
    [Home](.)
